body {
  font-family: sans-serif;
  color: #7fffd4;
  background-color: #292c34;
}

h2.center-h2 {
  text-align: center;
}

.side-navigation {
  width: 150px;
  position: fixed;
  z-index: 1;
  background-color: #21252b;
  overflow-x: hidden;
  text-align: center;
}

.side-navigation a {
  padding: 6px;
  font-size: 25px;
  text-decoration: none;
  color: #818894;
  display: block;
}

.side-navigation a:hover {
  color: #f1f1f1;
}

#current-page {
  padding: 6px;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
}

.main {
  margin-left: 150px;
  padding: 0px 10px 10px 10px;
}

table.image-table {
  margin: 0 auto;
  table-layout: fixed;
}

table.image-table td {
  padding: 4px 2px 4px 2px;
}

table img {
  display: block;
  width: 640px;
  height: 360px;
}

table img.big-table-img {
  width: 800px;
  height: 450px;
}

#playlist-selection {
  margin: 0 auto;
  table-layout: fixed;
  border-radius: 6px;
  width: 1210px;
}

#playlist-selection iframe {
  width: 1200px;
  height: 675px;
  margin: 0 auto;
}

#playlist-selection td {
  display: table-cell;
  border: 2px solid #FFA9A3;
  text-align: center;
}

.selected, .unselected {
  font-size: 24px;
  text-decoration: none;
}

.unselected:link, .unselected:visited {
  color: #7fffd4;
}

.selected {
  color: white;
  pointer-events: none;
}

#chess-board {
  background-color: #F0803C;
  width: 800px;
  height: 800px;
  margin: 0 auto;
}

.empty-space {
  float: left;
  width: 80px;
  height: 80px;
}

.chess-text {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  float: left;
  width: 80px;
  height: 80px;
  font-size: 50px;
  color: #FFA9A3;
}

.upside-down {
  transform: rotate(180deg);
}

.black {
  float: left;
  background-color: black;
  display: table-cell;
  vertical-align: center;
  width: 80px;
  height: 80px;
}

.white {
  float: left;
  background-color: white;
  display: table-cell;
  vertical-align: center;
  width: 80px;
  height: 80px;
}

#temperature-converter {
  border: 2px solid #FFA9A3;
  width: 600px;
  height: 200px;
  margin: 50px auto 0px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.temperature-header {
  width: 300px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.temperature-input {
  width: 250px;
  height: 50px;
  font-size: 40px;
  margin: 2px 6px;
  text-align: center;
}

#equals {
  width: 50px;
  font-size: 50px;
  text-align: center;
  align-content: center;
}

#convert-button {
  margin: 0 auto;
  width: 100px;
  height: 50px;
}
